.cmd-search-settings-container .setting-container .setting-item-info {
    display: none !important; /* Hide the info section entirely */
}

.name-input {
    width: 100px !important;
}

.url-input {
    flex: 1; /* Take up remaining space */
    min-width: 200px !important;
}

.settings-footer a {
    font-weight: bold;
    margin-right: 25px !important;
}

.settings-footer svg {
    height: 24px;
    fill:currentColor;
    margin-right: 5px;
    vertical-align: middle;
}